{% extends 'home/layout.html' %} {% block title %}{{text("eng", 0)}}{% endblock
%} {% block content %}
<h1 class="title">{{text("eng", 0)}}</h1>
<div class="content">
  <div class="square circle"></div>
  <form method="post" action="/auth/login" class="form">
    <input type="name" id="name" name="name" class="input"
    placeholder="{{text("eng", 3)}}" required /> <input type="password"
    id="password" name="password" class="input" placeholder="{{text("eng", 4)}}"
    required />
    <button type="submit" class="button">{{text("eng", 0)}}</button>
  </form>
  <h1 class="error">{{errorMessage}}</h1>
</div>

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/login.css') }}"
/>
{% endblock %}
